body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e8e8e8;
    
}

.resume {
    width: 70%;
    margin: 30px auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 15px rgba(92, 117, 239, 0.2);
    background-color:#007b89;
    border: 2px solid black;
}

/* ---------------- LEFT SECTION ---------------- */
.left {
    width: 35%;
    padding: 20px;
    color: white;
    background: linear-gradient(180deg, #003f48, #006a70, #004b55);
}

.profile-pic img {
    width: 60%;
    border-radius: 50%;
    margin-bottom: 10px;
    height: 125px;
}

.name {
    font-size: 28px;
    margin: 0;
}

.job-title {
    margin-top: 5px;
    letter-spacing: 2px;
    background: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.section {
    margin-top: 30px;
}

.section h4 {
    font-size: 20px;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.section ul {
    padding-left: 20px;
}

.section ul li {
    margin-bottom: 8px;
}

/* ---------------- RIGHT SECTION ---------------- */
.right {
    width: 65%;
    padding: 30px;
    background: white;
}

.sec-title {
    background: linear-gradient(90deg, #007b89, #00aab0);
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.right .section {
    margin-bottom: 30px;
}

.right ul {
    padding-left: 20px;
}

.right ul li {
    margin: 8px 0;
}

/* Responsive */
@media (max-width: 768px) {
    .resume {
        flex-direction: column;
        width: 95%;
    }
    .left, .right {
        width: 100%;
    }
}